// $primary-100: #2c3a4f;
// $primary-200: #56647b;
// $primary-300: #b4c2dc;
// $accent-100: #ff4d4d;
// $accent-200: #ffecda;
// $text-100: #ffffff;
// $text-200: #e0e0e0;
// $bg-100: #1a1f2b;
// $bg-200: #292e3b;
// $bg-300: #414654;

$primary-100: #86efac;
$primary-200: #f0fdf5;
$primary-300: #19725d;
$accent-100: #f5be0b;
$accent-200: #fef1c7;
$text-100: #292524;
$text-200: #78716c;
$bg-100: #fafaf9;
$bg-200: #f5f5f4;
$bg-300: #e0e2e5;

